*{
  margin : 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;;
  color: var(--text-color)
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

:root{
  --text-color : rgb(70, 70, 70);
  --text-color-gray: rgb(150, 150, 150);
  --text-color-in-button: rgb(250, 250, 250);

  --button-color-1: rgb(80, 80, 255);
  --button-color-2: rgb(150, 150, 150);
  --button-color-3: rgb(70, 200, 100);
  --button-color-4: rgb(0, 170, 170);

  --border-color: lightgray;
}

.bc1{
  background-color: var(--button-color-1);
}
.bc2{
  background-color: var(--button-color-2);
}
.bc3{
  background-color: var(--button-color-3);
}

.bc4{
  background-color: var(--button-color-4);
}