header{
  height: 30%;
  margin: 1% 0 2% 0;
}

#export_button{
  font-size: 120%;
  margin-bottom: 1%;
  background-color: var(--export-button-color);
  color: var(--text-color-selected);
  border: none;
  padding: 1%;
  border-radius: 5px;
  text-decoration: none;
}

#export_button:hover{
  cursor: pointer;
  background-color: green;
}

#export_button:active{
  opacity: 0.7;
}